body {
    background-image: url("../images/halloween.jpg") 
 
}

#container1, #container2, #container3 {
    background-color: rgba(27, 15, 4, 0.815);
    padding-bottom: 60px;

    width: 900px; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.mainHeader {
    color: wheat;
    text-align: center;
    padding-top: 40px;
    font-size: 60px;
}
#timer {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

h5, form, section {
    color: wheat;
    text-align: center;
    padding-top: 50px;
}
ul {
    list-style-type: none;
    color: wheat;
    text-align: center;
    padding-top: 0px;
}




#btn {
    margin-top: 70px;
    display:block; 
    width:20%; 
    margin:0 auto; 
    
    background-color: orange;
    font-size: 30px;
}





/* Have to do @media query to become mobile responsive */