body {
    background-image: url("../images/halloween.jpg"); 
}

#container1, #container2, #container3 {
    background-color: rgba(27, 15, 4, 0.815);
    padding-bottom: 60px;

    width: 900px; 
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.mainHeader {
    color: wheat;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 60px;
}

h5 {
    padding-top: 80px;
}

#timer {
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}

form, section {
    color: wheat;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

.radioInput {
    margin-left: 30px;
}

p {
    color: rgba(245, 109, 19, 0.747);
}

/* BUTTONS */
#btn {
    display:block; 
    width:20%; 
    margin:auto; 
    background-color: orange;
    font-size: 30px;
    border-radius: 10px;
    border: outset 3px white;
}
#submit-btn {
    display: block;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: orange;
    border-radius: 10px;
    border: outset 3px white;
}

#timer {
    position: fixed;
    left: 70%;
    color: rgb(53, 182, 21);
}

#score {
    text-align: center;
    padding-bottom: 20px;
}


/* Have to do @media query to become mobile responsive */